/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}

/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body { 	 
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; 
	line-height:18px;
	color:#000000;
	min-width:1002px;
	background:url(../images/bg.jpg) repeat  center top #f0bb72;
}

/***********************************************************************/
a {text-decoration:none; cursor:pointer;color:#604160}
ul.menu li li a {text-decoration:none; color:#FFF}
ul.menu li a {text-decoration:none; color:#604160}
a:hover {text-decoration:none;}
a.button {color:#604160; text-decoration:underline}
a.button:hover {text-decoration:none;}

a.button-2 {color:#604160; color:#6c4a6c; font-style:italic; text-decoration:none}
a.button-2:hover {text-decoration:underline;}

a.button-3 {background:url(../images/button-3.png) repeat-x left top #a4ca1a;color:#000000; font-size:12px; line-height:16px; padding:5px 21px;border-radius:5px; text-decoration:none; display:block}
a.button-3:hover {background-position:0 bottom}



h2 {font-family:Arial; font-size:18px;line-height:21px; color:#FFF;  margin:10px 0 20px; font-weight:normal}
h3 {font-family:Arial; font-size:18px;line-height:21px; color:#484848;  margin:10px 0 16px; font-weight:normal}
h4 {font-family:Arial; font-size:16px;line-height:21px; color:#484848;  margin:0px 0 5px; font-weight:bold}
h4 a {color:#484848;  margin:0px 0 5px; font-weight:bold; text-decoration:none}
h4 a:hover {color:#7e527e;}
ul {margin:0; padding:0;list-style-image:none;}
/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left !important;}
.fright {float:right !important;}
.center {text-align:center !important}
.line-height {line-height:21px !important}
.line-height-2 {line-height:20px !important}

.top-0 {margin-top:0px !important}
.top-1 {margin-top:15px !important}
.top-2 {margin-top:19px !important}
.top-3 {margin-top:13px !important}
.top-4 {margin-top:46px !important}
.top-5 {margin-top:35px !important}
.top-6 {margin-top:24px !important}
.top-7 {margin-top:40px !important}
.top-8 {margin-top:5px !important}
.top-9 {margin-top:10px !important}
.top-10 {margin-top:17px !important}


.bot-0 {margin-bottom:0px !important}
.bot-1 {margin-bottom:12px !important}
.bot-2 {margin-bottom:20px !important}

.color-1 {color:#fff !important;}
.color-2 {color:#88a424 !important;line-height:20px !important}
.font-1 {font-style:italic}
.font-2 {color:#868686}
a.font-3 {text-decoration:none;}
a.font-3:hover {text-decoration:underline;}

.pad-1 {padding:10px 0 0 10px}
.pad-2 {padding:0 10px}

.img-indent {margin-right:24px; float:left}
.img-indent2 {margin-right:20px; float:left; border:5px solid #FFF;}
.img-indent-3 {margin-right:10px; float:left;}
.img-indent4 {margin-right:18px; float:left;border:1px solid #e5e5e5}
.width-1 {width:124px}
.width-2 {width:710px}
.width-3 {width:106px}

.border-1 {border-right:1px solid #645a4d; margin-right:-10px; padding-right:16px; min-height:320px}
.border-2 {border-right:1px solid #645a4d; padding-right:35px; padding-left:24px; min-height:320px}

.main {width:1002px; margin:0 auto;}
/*********************************header*************************************/
header {background:#f0f0f0;}
h1 { padding:25px 0 24px; float:left}
h1 a { font-family: 'Chau Philomene One', sans-serif; float:left; line-height:36px; font-size:30px; color:#606060; text-decoration:none; font-weight:400}
/***********************************nav*************************************/
nav {position:relative; z-index:101;float:right; margin-top:39px}
.toprow {background:url(../images/png.png) repeat left top;}
/*********************************content*************************************/
#content { 
	background:#f8f8f8;
	padding-bottom:65px;
	}
.number {
	float:left;
	background:url(../images/number.png) no-repeat left; 
	color:#a9a39c;
	padding:15px 0 14px 30px
	}
.social {float:right;padding:12px 0 0px}
.social li {
	float:left;
	margin-left:6px;
	}
.social li img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	
	}
.social li img:hover {
	padding-top:5px
	}
.shadow-1 {background:url(../images/shadow-1.png) no-repeat center top; width:1002px;height:16px;}
.line {height:8px; background:url(../images/bg-line.png) repeat-x left top;}
.line-2 {height:8px; background:url(../images/line-2.png) repeat-x left top;}
.title .heading {background:#e3e3e3;font-family: 'Chau Philomene One', sans-serif;padding:28px 0 32px 0; text-align:center; font-size:25px;line-height:37px; color:#8f8f8f; font-weight:400}

.book {border:1px solid #c9c9c9;overflow:hidden}
.book a{padding:5px;display:block}
.book .desc {background:#ebebeb; color:#868686; padding:8px 10px 9px; border-top:1px solid #dcdcdc;overflow:hidden}
.book .desc span {float:right}

.twitter {color:#FFF;}
.twitter li {padding-bottom:5px}
.twitter a {color:#c3c3c3;text-decoration:none;display:table; padding:5px 0; font-size:12px !important}
.twitter span a {color:#a1c12f;text-decoration:none; display:inline-block;padding:0px}
.twitter a:hover {text-decoration:underline}

.block {background:#ebebeb; border:1px solid #dadada;padding:16px 18px 23px 22px; margin-top:44px}
.circle li {padding-left:17px;background:url(../images/list.png) no-repeat left 5px;margin-bottom:20px}

.block-2 {
	border:1px solid #dadada;
	margin-bottom:20px
	}
.block-2 .heading{
	background:#ebebeb;
	color:#444444;
	border-bottom:1px solid #d9d9d9;
	font-size:18px;
	padding:18px 20px
	}
.block-2 .conteiner {
	padding:20px 20px 30px;
	
	}
.list {}
.list li {padding:6px 0 6px 15px; background:url(../images/list-item.png) no-repeat left 13px}
.list li a {color:#88a424}
/**********************aside**********************/
aside {background:url(../images/png-2.png) repeat left top; color:#b0b0b0; padding:25px}
/**********************footer**********************/
footer {background:url(../images/footer.png) repeat left top;padding:21px 0px; font-size:14px; color:#bdbab7}
footer a {color:#bdbab7; text-decoration:none}
footer a:hover {text-decoration:underline}

.map {width:350px; height:401px; border:1px solid #e6e6e6}
.map iframe {width:350px; height:401px;}
/**********************form**********************/
.info a {text-decoration:none}
.info a:hover {text-decoration:underline}
dl {margin:23px 0px 0 0px; float:left;}
dl dd span { display:block; width:70px; float:left;}
#form { margin:0px 0 0px 0px; width:218px; }
#form input {
	outline: medium none;
	font-family:Arial; 
	font-size:12px; 
	color:#000000;
	line-height:16px; 
	height:16px; 
	padding:5px 14px;
	width:190px; 
	border:0;
	background:#FFF;
	}
#form textarea {
    outline: medium none;
    overflow: auto;
	font-family:Arial; 
	font-size:12px; 
	color:#000000;
	line-height:15px;
	height:116px; 
	padding:12px 14px;
	width:190px;
	border:0;
	background:#FFF; 
	resize:none;
	float:left
	}
#form label {
	position:relative;
	overflow:hidden;
    display: block;
    min-height:40px;
}
#form label.email {
    min-height:47px;
}
#form .error, #form .empty {
    color: #FF0000;
    display: none;
    font-size: 10px;
	line-height:14px;
	width:200px;
	float:left;
	margin-top:2px;
}
#form .error-empty {
	margin: 4px 0 5px 5px !important; 
	display:none;
	float:left;
	}
#form .success {
	display:none;
	margin-bottom:5px;
	}
.btns {
	position:relative;
	padding-top:26px;
	float:right
}
/*************************form-1****************************************/
#form-1 { margin:0px 0 0px 0px; width:541px; }
#form-1 input {
	outline: medium none;
	font-family:Arial; 
	font-size:12px; 
	color:#000000;
	line-height:17px; 
	height:17px; 
	padding:11px 15px;
	width:320px; 
	border:1px solid #e5e5e5;
	background:#fafafa;
	float:left
	}
#form-1 textarea {
    outline: medium none;
    overflow: auto;
	font-family:Arial; 
	font-size:12px; 
	color:#000000;
	line-height:15px;
	height:260px; 
	padding:11px 15px;
	width:509px;
	border:1px solid #e5e5e5;
	background:#fafafa;
	resize:none;
	float:left
	}
#form-1 label {
	position:relative;
	overflow:hidden;
    display: block;
    min-height:50px;
}

#form-1 .error, #form-1 .empty {
    color: #FF0000;
    display: none;
    font-size: 10px;
	line-height:14px;
	width:175px;
	float:left;
	margin-top:2px;
}
#form-1 .error-empty {
	margin: 14px 0 5px 5px !important; 
	display:none;
	float:left;
	}
#form-1 .success {
	display:none;
	margin-bottom:5px;
	}
#form-1 .btns {
	position:relative;
	padding-top:27px;
	float:right;
}
#form-1 .btns a {
	margin-left:28px
}

.loading{
    text-align: center;
    color: green; 
    font-weight: bold; 
    font-size: 14px;
}

.error
{
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

ul.menu li {
   display:inline-block;
   width: 80px;
   height: 20px;
   padding: 1px 10px;
   vertical-align: middle;
   text-transform:uppercase;
   color:#060;
   font-weight: bold;
}

ul.menu li li {
   padding: 7px 0 10px 20px;
   display:block;
   background: #090;
   width: 130px;
   color: #FFF;
   opacity:0.8;
}

ul.menu li ul {
   display:none;
   padding: 0;
}
ul.menu li:hover ul {
   display:block;
}

.page{
    text-align: center;
    margin: 20px;    
}

.page li{
    display: inline;
    margin: 7px;
}

.tensach{
    padding: 10px;
    text-align: center;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}

.detail{
    margin: 20px;
    width: 700px;
}

.detail tr td {
    padding: 5px;
    line-height: 30px;
    font-size: 13px;
    border: dashed 1px #CCCCCC;
}

.detail tr td input, select {
	height: 19px;
    width: 5%;
}

.cungloai {
    margin: 20px;
    width: 950px;  
}

.table_tip {
    margin: 20px;  
}

.table_tip, .cungloai tr td {
    padding: 2px;
    line-height: 28px;
    font-size: 13px;
}

.anhbia{
    background: #ededf3;
    padding: 10px;
}

.tbao {
    color: blue; 
    padding-top: 10px; 
    font-weight: bold; 
    font-size: 15px; 
    font-family: Time new roman;
    text-align: center;
}